<div class="container">
    <table class="table">
        {{#each data}}
                <tr>
                    <td>{{>stringbutton classes='btn string-button'}}</td>
                </tr> 
        {{/each}}
    </table>
</div>
<a  href = '/add' class="btn add-button">Добавить</a>
