<div class="list-container">
    <h3>Добавить новую запись...</h3>
    <table>
        {{#each data}}
                <tr>
                    <td>{{>stringbutton classes='btn string-button disabled-button'}}</td>
                </tr> 
        {{/each}}
    </table>
</div>
<div style="display: inline-block; gap: 10px;">
    <form action="/add" method="post">
        <div class="add-field">
            <input type="text" name="record" placeholder="Фамилия, имя, отчество. Телефон" class="form-control">
        </div>
        <br/>
        <input type="submit" class="btn add-button" value="Добавить">
    </form>
</div>
 {{cancelbutton "/"}}
