<nav>
    <a href="/">Главная</a> | 
    <a href="/api/orders">Заказы</a> |
    <a href="/api/clients">Клиенты</a> |
    <a href="/api/products">Продукция</a> |
    <a href="/api/producttypes">Типы продукции</a> |
    <a href="/api/redactors">Редакторы</a> |
</nav>