<table class="table">
    {{#each data}}
            <tr>
                <td>{{id}}</td>
                <td>{{type}}</td>
                <td>{{pricePerPiece}}</td>
            </tr> 
    {{/each}}
</table>