<table class="table">
    {{#each data}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{year}}</td>
                <td>{{productTypeId}}</td>
            </tr> 
    {{/each}}
</table>