<table class = "table">
    {{#each data}}
            <tr>
                <td>{{id}}</td>
                <td>{{surname}}</td>
                <td>{{firstName}}</td>
            </tr> 
    {{/each}}
</table>